.example-header-image {
    display: block;
    margin: 0 auto;

    background-image: url("../../../assets/img/native-white.jpeg");
    background-size: 100%;
}

.img-native {
    max-width: 50%;
    height: 70px;
}

form {
    width: 100%;
}

.login-content {
    width: 400px;
    display: block;
    margin: 0 auto;
}

.login-toolbar {
    justify-content: center;
}

.title-component {
    margin-bottom: 30px;
}

.buscador {
    margin-bottom: 20px;
}

form {
    width: 100%;
}

.login-content {
    width: 400px;
    display: block;
    margin: 0 auto;
}

.login-toolbar {
    justify-content: center;
}

.mat-form-field {
    width: 100%;
    display: block;
}

.mat-raised-button {
    width: 100%;
    margin-top: 15px;
}

#btnEliminar {
    margin: 10px;
    background: red;
}

#tarjetaGeneral {
    display: inline;
}

td,
th {
    width: 10%;
}

.select {
    width: 50%;
}
