.btnCreaPersonalizado {
    margin-top: 15px;
    background-color: #003f72;
}

.example-card {
    margin-top: 20px;
    max-width: 400px;
}

// .example-card:hover {
//     border: 1px solid #333;
// }

.example-header-image {
    background-image: url("../../../assets/img/native.jpeg");
    background-size: cover;
}


.img-category{
    cursor: pointer;

}

.img-category:hover {
    border: 1px solid #333;
}

.botones{
    margin: 10px;
}

#btn-editar{
    background: rgba(100, 99, 99, 0.514);
}

#btn-visibility {
    background: #abd37c;
}