.btnCreaPersonalizado {
    margin-top: 15px;
    background-color: #003f72;
}

.example-card {
    margin-top: 20px;
    max-width: 350px;
    background: #eaeaea;
}

.example-header-image {
    background-image: url("../../../assets/img/native.jpeg");
    background-size: cover;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


.input-formulario{
    width: 100%;
}

.btn-save{
    // margin-top: 20px;
    margin: 15px;
    // background: #6f6e6e;
}