<div class="main-content">
    <div class="container-fluid">
        <h2 class="title-component">Productos</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="mat-elevation-z8">
                    <mat-card>
                        <b>Buscador:</b>
                        <mat-form-field appearance="standard">
                            <mat-label>Filtro Productos</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Miel" #input>
                        </mat-form-field>
                    </mat-card>

                    <table mat-table [dataSource]="dataSource">

                        <!-- Image Column -->
                        <ng-container matColumnDef="image">
                            <th mat-header-cell *matHeaderCellDef> Imágen </th>
                            <td mat-cell *matCellDef="let element">
                                <img class="image-product" [src]="'http://localhost:3000/'+ element.imagePath" alt="">
                            </td>
                        </ng-container>

                        <!-- Title Column -->
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef> Title </th>
                            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                        </ng-container>

                        <!-- Category Column -->
                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef> Categoria </th>
                            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                        </ng-container>

                        <!-- Price Column -->
                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef> Precio </th>
                            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                        </ng-container>

                        <!-- Stock Column -->
                        <ng-container matColumnDef="stock">
                            <th mat-header-cell *matHeaderCellDef> Stock Producto </th>
                            <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
                        </ng-container>

                        <!-- OPtions Column -->
                        <ng-container matColumnDef="opciones">
                            <th mat-header-cell *matHeaderCellDef> Opciones </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                    aria-label="Example icon-button with a menu">
                                    <mat-icon>settings</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="ModalEditCategory(element._id, element.title, element.category, element.description, element.price, element.stock)">
                                        <mat-icon>edit</mat-icon>
                                        <span>Editar</span>
                                    </button>
                                    <button mat-menu-item (click)="deleteProduct(element._id)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Eliminar</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator id="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>