.card-text {
    text-align: justify;
    margin: 35px;
}

.card-header{
    width: 100%;
}

.logo {
    width: 210px;
    height: 225px;
    display: block;
    margin: auto;
}

#tarjeta_informacion {
    background-color: #E0DED8;
}


#tarjeta {
    background-color: #fff;
}


#texto_cv {
    color: #003F72;
}


#botones {
    background-color:#E0DED8;
    color: #003F72;
}

#titulo_tarjeta {
    margin: 20px;
    color: #003F72;
}