<div class="main-content">
    <div class="container-fluid">
        <h2>Dashboard</h2>
        <!-- <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card card-stats" id="tarjeta_informacion">
                    <div class="card-header card-header-warning card-header-icon">

                        <p class="card-category">INFORMACIÓN GENERAL</p>
                        <h3 class="card-title">Native
                            <small>Ec</small>
                        </h3>
                    </div>
                    <div class="card-body">

                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut sint id ex at nulla rerum!
                            Quia, illo, cum architecto, sit laudantium quaerat repudiandae velit
                            nulla voluptates explicabo saepe fugiat veniam. Dignissimos, eaque amet. Nobis quaerat
                            consequuntur odit doloremque quis dolorem sequi, tenetur quo, impedit ut dolores, natus cum
                            magni architecto modi autem? Nesciunt quia ut
                            doloremque ullam aspernatur reiciendis laudantium. Eligendi eius, incidunt voluptates dicta
                            ex quis rem reprehenderit, facilis aliquid distinctio quaerat consectetur iusto. Commodi ab
                            ad autem quas reprehenderit, officiis ducimus,
                            enim nobis porro quia illo nisi molestias! Aliquid ipsa praesentium fugiat dolorem
                            dignissimos voluptatem perferendis, laboriosam consequuntur veritatis nisi soluta
                            consectetur aperiam aspernatur inventore distinctio animi
                            sunt porro laudantium repellat ipsum. Architecto odit deleniti distinctio eveniet sapiente.
                        </p>

                    </div>

                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-8">
                <div class="card card-chart" id="tarjeta">
                    <div id="titulo_tarjeta">
                        <h5>Ventas Mensuales</h5>
                    </div>

                    <div class="card-header">
                        <ngx-charts-advanced-pie-chart [view]="view" scheme=vivid [results]="dataMonth"
                            [gradient]="gradient" (select)="onSelectMonth($event)" (activate)="onActivateMonth($event)"
                            (deactivate)="onDeactivateMonth($event)">
                        </ngx-charts-advanced-pie-chart>
                    </div>



                    <!-- <div class="card-footer">
                        <div class="col text-center">
                            <button type="button" class="btn btn-light btn-block" id="botones" routerLink="/cv-completo/">
                                Ingresar
                            </button>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart" id="tarjeta">
                    <div id="titulo_tarjeta">
                        <h5>Ventas Anuales</h5>
                    </div>

                    <div class="card-header ">
                        <ngx-charts-advanced-pie-chart [view]="viewYear" scheme=fire [results]="dataYear"
                            [gradient]="gradient" (select)="onSelectYear($event)" (activate)="onActivateYear($event)"
                            (deactivate)="onDeactivateYear($event)">
                        </ngx-charts-advanced-pie-chart>
                    </div>


                    <!-- <div class="card-footer">
                        <div class="col text-center">
                            <button type="button" class="btn btn-light btn-block" id="botones" routerLink="/cv-completo/">
                                Ingresar
                            </button>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>