.btnCreaPersonalizado {
    margin-top: 15px;
    background-color: #003f72;
}

.example-card {
    margin-top: 20px;
    max-width: 350px;
    background: #eaeaea;
}

.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#imageSelected {
    cursor: pointer;
}

#imageSelected:hover {
    border: 1px solid #333;
}

.input-formulario {
    width: 100%;
}

.btn-save{
    margin: 15px;
}

