.title-component {
    margin-bottom: 30px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.card-sale{
    margin-bottom: 20px;
}

td {
    padding-right: 10px;
    width: 40%;
}

// td,
// th {
//     width: 20%;
// }

.btn-venta {
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

// .example-container .mat-form-field + .mat-form-field {
//     margin-left: 8px;
// }

table {
    width: 100%;
    margin-top: 20px;
}

.image-product {
    max-width: 40%;
    max-height: 40%;
    border-top-left-radius: 60% 60%;
    border-top-right-radius: 60% 60%;
    border-bottom-right-radius: 60% 60%;
    border-bottom-left-radius: 60% 60%;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 20%;
}
