.title-component{
    margin-bottom: 30px;
}

.btn-venta{
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

table {
    width: 100%;
    margin-top: 20px;
}

.image-product {
    max-width: 40%;
    max-height: 40%;
    border-top-left-radius: 60% 60%;
    border-top-right-radius: 60% 60%;
    border-bottom-right-radius: 60% 60%;
    border-bottom-left-radius: 60% 60%;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 20%;
}
